{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Liste des Réservations</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre de places</th>
                <th>Date de réservation</th>
                <th>État</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.nombrePlaces }}</td>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.etat }}</td>
                <td>
                    
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}" class="btn btn-primary btn-sm">Show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-warning btn-sm">Update</a>

                    <form method="post" action="{{ path('app_reservation_delete', {'id': reservation.id}) }}" style="display:inline-block" onsubmit="return confirm('Are you sure you want to delete this reservation?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Aucune réservation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}" class="btn btn-success">Créer une nouvelle réservation</a>
{% endblock %}
